/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(245, 248, 255);
}

/* Shared Styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.common-btn {
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  padding: 16px 20px;
  width: 100%;
  cursor: pointer;
}

.common-color {
  color: rgb(233, 90, 8);
}

p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
}

/* Header Styles */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items h4 {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-items ul {
  display: flex;
  gap: 20px;
}

.nav-items ul li {
  list-style: none;
}

.nav-items ul li a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}

#special-nav-item {
  font-weight: bold;
  color: black;
}

/* Banner */
.banner {
  display: flex;
  align-items: end;
}

.banner-info {
  width: 50%;
}

.banner-info h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Noto Serif, serif";
}

.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
}

/* Plants Section */
.plants {
  margin: 50px auto;
}

.plants-info {
  text-align: center;
  padding: 60px 0;
}

.plants-info h1 {
  font-family: "Noto Serif , serif";
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.plants-card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.plants-card h3 {
  text-align: center;
  margin-top: 10px;
  color: rgb(17, 17, 17);
  font-size: 1.33rem;
  font-weight: 600;
}

#price {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Flower Lover */
.flower-lover {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 200px auto;
}

.flower-lover-text h1 {
  color: rgb(0, 0, 0);
  font-family: " Noto Serif, serif";
  font-size: 3.2rem;
  font-weight: 700;
}

.flower-lover-text ul {
  padding: 30px;
}

.flower-lover-text ul li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.33rem;
  margin-bottom: 20px;
}

.badge {
  position: absolute;
  top: -140px;
  right: -280px;
}

.badge img {
  width: 30%;
}

/* Colorful Branch */
.colorful-branch {
  background-image: url("../images/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.branch-info {
  padding: 15rem 0;
  width: 50%;
}

.branch-info h1 {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif, serif";
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

#input-parents {
  display: flex;
  width: 100%;
}

.branch-info input {
  padding: 16px 20px;
  width: 70%;
  box-sizing: border-box;
}

.branch-info button {
  width: 30%;
  padding: 17px 0;
  cursor: pointer;
  margin-left: 0;
  box-sizing: border-box;
}
/* Footer styles */
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.footer-div-1 {
  width: 40%;
}
.footer-div-2 {
}
.footer-div-3 {
}
.footer-div-2 ul li,
.footer-div-3 ul li {
  list-style: none;
  padding-bottom: 20px;
}
.footer-div-2 ul li a,
.footer-div-3 ul li a {
  text-decoration: none;
  color: rgb(107, 114, 128);
}
.footer-div-4 {
}
.footer-div-4 figure {
  display: flex;
  gap: 30px;
  align-items: center;
}
.footer-div-4 img {
  width: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  /* Header */
  header {
    padding: 30px;
  }

  header nav {
    margin: 0;
  }

  .nav-items ul {
    visibility: hidden;
  }

  .nav-items h4 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: -100px;
  }
  /* Banner */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-info {
    width: 100%;
  }

  .banner-info h1 {
    font-size: 2.6rem;
    margin: 20px 0;
  }

  .banner-info p {
    font-size: 1rem;
  }

  .banner-img {
    width: 100%;
  }
  /* Plants Section */
  .plants {
    margin-top: -70px;
    padding: 30px;
  }

  .plants-info h1 {
    font-size: 3rem;
  }

  .plants-info p {
    font-size: 1rem;
  }

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .plants-card img {
    width: 100%;
  }

  /* Flower Lover Sec */
  .flower-lover {
    flex-direction: column;
    gap: 10px;
    margin: 30px;
  }

  .flower-lover figure {
    width: 100%;
  }

  .flower-lover figure img {
    width: 100%;
  }

  .flower-lover-text {
    width: 100%;
  }

  .flower-lover-text h1 {
    font-size: 2.6rem;
  }

  .flower-lover-text ul li {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .badge {
    display: none;
  }
  /* Colorful Branch Sec */
  .colorful-branch {
    margin: 30px;
    max-width: 100%;
  }

  .branch-info {
    padding: 100px 20px;
    width: 100%;
  }

  .branch-info h1 {
    font-size: 2rem;
    width: 100%;
  }

  #input-parents {
    display: flex;
    width: 100%;
  }

  .branch-info input {
    width: 70%;
  }

  .branch-info button {
    width: 30%;
  }
  /* Footer styles */
  .footer {
    flex-direction: column;
    padding: 30px;
  }

  .footer-div-1 {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-div-4 {
  }
  .footer-div-4 figure {
    display: flex;
    gap: 30px;
    width: 50%;
  }
  .footer-div-4 img {
    width: 100%;
  }
}
